@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?display=swap');

:root{
    --cor1:#BF343F;
    --cor2:#F2CE1B;
    --cor3:#F2AB27;
    --cor4:#F28B30;
    --cor5: rgb(0, 0, 0);

    --fonte1:Georgia, 'Times New Roman', Times, serif;;
    --fonte2:'Mansalva', cursiva;
    --fonte3:verdana,sans-serif;

    }


    


body{
    padding: 0px;
    margin: 0px;
    background-color: rgb(0, 0, 0);
    height:600px ;

}
header{

    background-color: var(--cor5);
    display: block;
    min-width: 360;
    max-width: 600px;
    height: 50px;
    margin: auto;
    padding-bottom: 10vh;
    
}
header>h1{
    font-family: var(--fonte3);
    font-size: 1.5em;
    width: 260px;
    margin: auto;
    text-align: center;
    bottom: 30px;
    box-sizing: border-box;
    position: relative;
    color:rgb(255, 250, 250);
   
    padding-left: 15px;
}
header>img{
   padding-top: 10px;
   border: 1px;
    border-radius: 50px;
    box-shadow: 2px 3px black;
    width: 100px;
    position: relative;
}
header>a{
    position: relative;
    margin-left: 90%;
    bottom:70px;
    font-size: 2em;
  
}
main{
    background-color: black;
    margin: auto;
    min-width: 300px;
    max-width: 600px;
}
.cardapio{
    text-decoration: none;
    list-style: none;
    color: white;
}
li.cardapio  {
    
    text-align: center;
    padding:20px;
    margin: auto;
}
li>a{
    font-family:'Times New Roman', Times, serif;
    background-image: linear-gradient(to right,var(--cor1),var(--cor4),var(--cor3) );
    font-size:1.5em ;border: 1px solid ;
    border-radius: 20px ;
    box-shadow: 2px 2px 2px white;
    width: 300px;
    padding:10px 50px 10px 50px;
    
}
li>a:hover{
    box-shadow: 5px 5px 6px wheat;
}
ul{
    padding: 0%;
}

