@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    
}
body{
    background-color: rgba(197, 196, 196, 0.795);
    
}
.header{
    height: 80px;
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.header>div{
    display: flex;
    align-items: baseline;
}
.header>div>ion-icon{ 
    background-image: linear-gradient(to top ,#BF343F,#F2CE1B);
    margin: 0px 20px 0px 0px;
    color: #fff;

}
.header>div>p{
    background-color: rgba(255, 65, 65, 0.795);
    margin: 4px ;
    width: 15px;
    height: 20px;
    text-align: center;
    padding: 3px;
    border-radius: 20px;
    box-shadow: 1px 3px 5px rgb(207, 207, 207);
    color: #fff;

}
.imgCarrinho{
    width: 30px;
    height: 30px;
    border-radius: 20px;
    padding: 5px;
    box-shadow: 3px 3px 5px rgb(216, 214, 211);
    
    
}
.imgCarrinho:hover{
    
    padding: 4px;
    box-shadow: 1px 5px 8px rgb(255, 254, 253);

}
.carrinho{
    margin: auto;
    margin-top: 20px;
    width: 300px;
    height: 600px;
    background-color: aquamarine;
    border-radius: 20px;
}
.voltarCar{
    display: flex;
    justify-content:  space-between;
    align-items: center;
    height: 60px;
}
.voltarCar>p{
    text-align: center;
    background-color: bisque;
    font-size: 1.5em;
    margin-right: 100px;
    
}
.voltarCar>ion-icon{
    background-color: #F2CE1B;
    font-size: 1.5em;
    margin-left: 5px;
    padding: 5px;
    border-radius: 20px;
    
}
.feed{
    
    max-height: 200px;
    max-width: 800px;
    border: 1px solid black;
    display: flex;
    overflow-x: auto;
    margin: auto;
    align-items: center;
    margin-top: 20px;
    
}
.feed::-webkit-scrollbar{
    width: 2px;
    background-color: rgb(194, 197, 196);
}

.areafeed{
    background-color: antiquewhite;
    min-width: 210px;
    height: 110px;
    line-height: 110px;
    text-align: center;
    margin: 2px;


 

}