@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2? família=DynaPuff:wght@500&display=swap');

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    
}
body{
    position: fixed;
    background-color: black;
    
}

header{
  
   width: 100vw;
   height: 80px;
   position: absolute;
   background-image: (to left,rgb(0, 0, 0),#463d3d7a rgb(0, 0, 0) );
   
  

}
#cabecalho{
    width: 95vw;
    display: flex;
    
    align-items: center;
    justify-content: space-between;
    position: relative;
    background-color: black;
    
}
#carrinho-ext{
    display: inline-flex;
}

#carrinho-ext>ion-icon{
    margin: 10px;
    
    background-image: linear-gradient(to top ,#BF343F,#F2CE1B);
    color: white;
    font-size: 1.8em;
    padding: 2px;
    border-radius: 50%;
    box-shadow: 2px 2px 8px  rgba(255, 255, 255, 0.726);
    position: relative;
    display: inline-flex;


}   

#carrinhoext>ion-icon:hover{
   box-shadow: 2px 4px 16px white;
   background-image: linear-gradient(to top ,#975056,#e4d485);
   

}
#numero-de-itens{
    color: white;
    background-color: #BF343F;
    position: absolute;
    border-radius: 50%;
    margin-top:35px;
    padding: 3px;
}



main{
    width: 100vw;
    align-items: center; 
    margin-top: 50px;
}

.listap{
    background-color: #463d3d7a;
   
    width: 370px;
    border-radius: 20px;
    height:70vh ;
    display: grid;
    text-align: center;
    align-items: center;
    margin: auto;
    margin-top: 100px;
    box-shadow: 2px 3px 16px rgb(236, 220, 220);
    
    
}
li{
    display: inline;
    text-decoration: none;
    
}
#icardapio{
    max-width: 300px;
}
.cardapio{
    
    font-size: 1.8em;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left:40px ;
    margin-right:40px ;
    text-decoration: none;
    border: 1px solid rgb(230, 224, 224);
    background-image: linear-gradient(to top ,#BF343F,#F2CE1B);
    color: rgb(255, 255, 255);
    border-radius: 30px;
    box-shadow: 2px 2px 7px white;

}
.cardapio:hover{
    background-image: linear-gradient(to top ,#bf3440c4,#f2ce1bbe);
    box-shadow: 2px 2px 16px white;


}
#lista-folha-itens{
    background-color: #463d3d7a;
    display: none;
    width: 370px;
    border-radius: 20px;
    height:83vh ;
    overflow-y: scroll;
    box-shadow: 2px 3px 16px rgb(236, 220, 220);
    margin: auto;
    margin-top: 100px;
    

}

#lista-itens{
    text-align: center;
    margin: auto;
    margin-top: 100px;
   
}

#cabeçalhoitens{
    background-image:linear-gradient(to left, rgb(255, 254, 254) ,rgb(206, 202, 202)) ;
    height: 70px;
    position:static;
    display:inline-flex;
    margin: auto;
    border-radius: 20px 20px 0px 0px;
    width: 370px;
    
}
#voltar,#voltar-carrinho{
    margin: 20px;  
    background-color: white;
    color: black;
    font-size: 1.8em;
    padding: 3px;
    border-radius: 50%;
    box-shadow: 2px 2px 15px  rgba(179, 171, 171, 0.726);
    position: fixed;
    
    
}

#voltar:hover,#voltar-carrinho:hover{
    box-shadow: 2px 2px 8px  rgba(167, 156, 156, 0.726);
    padding: 5px;

}
#titulo-cabeçalho-itens{
    
  margin: auto;

  
  
    
       
    
}

#interior-carrinho{
    color: white;
    width: 370px;
    height: 80vh;
    background-color: #ffffffa1;
    box-shadow: 2px 3px 16px rgb(253, 243, 243);
    border-radius: 20px;
    margin-left: auto;
    margin-top: 35px;
    display: none;
    align-items: center;
    

    
}

#cabeçalho-carrinho{
    background-image:linear-gradient(to left, rgb(255, 254, 254) ,rgb(206, 202, 202)) ;
    height: 70px;
    position:fixed;
    display:inline-flex;
    margin: auto;
    border-radius: 20px 20px 0px 0px;
    width: 370px;
}

#titulo-carrinho{
    
    margin: auto;
    color: black;
    text-shadow: 1px 3px 4px rgba(0, 0, 0, 0.534);
    
    
}
#area-carrinho{
    display: inline-block;
    margin-top: 75px;
    width: 370px;
    height: 330px;
    color: black;
}
#area-carrinho>ul>li{
    display: flex;
    margin-bottom: 5px;
    margin-top: 5px;
}

#area-carrinho>ul>li>img{
    width: 80px;
    height: 100px;
    

}
#area-carrinho>ul>li>div{
    background-color: #97505670;
}
#area-carrinho>ul>li>div>h2{
    text-align: center;
    border-bottom: solid 1px black;
    
}
#area-carrinho>ul>li>div>p{
    height: 40px;
    overflow: hidden;
    text-align: center;
    text-shadow: 1px 1px 3px rgb(180, 176, 176);
}

#area-carrinho>ul>li>div>h5{
    align-items: center;
    font-size: 1.2em ;
    font-weight: bold;
    text-align: center;
    border-top: solid 1px black;
}

#area-pagamento{
    width: 370px;
    height: 90px;
    background-color: #ffffff02;
    color: black;


}
fieldset{
    margin: 5px;
}
fieldset>h3{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.3em;
    

}
.custom-checkbox input{
    
    display: none;
}
.custom-checkbox> input>label>strong{
    font-size:1.2em ;
}
.custom-checkbox input + label:before{
    content: '';
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: solid 1px rgb(32, 32, 32);
    background-color: #e2e2e2;
    display: inline-block;
    vertical-align: middle;
    margin:0px 8px 5px 5px;
    font-size: 1.2em;
}
.custom-checkbox input:checked + label:before{
    background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 10 10'%3E%3Cg class='nc-icon-wrapper' stroke-width='1' fill='%23555555'%3E%3Cpath fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' data-cap='butt' d='M2.83 4.72l1.58 1.58 2.83-2.83'/%3E%3C/g%3E%3C/svg%3E");/* -----LINK CHECKED JA EDITADO*/
    background-color: green; 
}
/*
p>input{
    display: none;
    margin: 30px 5px 25px 5px;
        
}
p>label{
    font-size: 1.3em;
    padding-top: 10px;
    padding-bottom: 10px;
}
*/
#botao-continuar-comprando{
    display: block;
    margin-left: 10px; ;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 350px;
    height: 35px;
    font-weight: bold;
    font-size: 1.4em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: solid 1px black;
    border-radius: 20px;
    background-image:linear-gradient(to right,rgb(110, 112, 110),rgb(146, 148, 145),rgb(192, 206, 191));
    text-shadow: 1px 3px 4px rgba(0, 0, 0, 0.534);

}



#botao-finalizar{
    display: block;
    margin-left: 10px; ;
    margin-bottom: auto;
    width: 350px;
    height: 35px;
    font-weight: bold;
    font-size: 1.4em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: solid 1px black;
    border-radius: 20px;
    background-image:linear-gradient(to right,rgb(5, 145, 5),rgb(71, 196, 33),rgb(130, 214, 123));
    text-shadow: 1px 3px 4px rgba(0, 0, 0, 0.534);
    
    
}
